 <% include ../partials/header.ejs %>

 <section id="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="inner text-center">
            <h1 class="logo-name">Yummy</h1>
            <h2>Find Restaurants To fit your lifestyle & health.</h2>
            <br/>
          </div>

          <form class="my-form">
          <p class="text-center">Login</p>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="my-custom-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted white-color">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="my-custom-form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
         <div class="form-group text-center">
          <button type="submit" class="btn bg-orange">Submit</button>
          </div>
        </form>
          </div>
        </div>
      </div>
    
    </div>



  </section>
  <!-- / banner -->

 
 
<% include ../partials/footer.ejs %>