 <% include ../partials/header.ejs %>
<!-- contact -->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="header-h">Add Restaurant</h1>
        </div>
      </div>
      <div class="row msg-row">
    
        <form>

         <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Restaurant Name</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Restaurant Address</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cusine Type</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Timings</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="11:00 AM TO 5:00PM">
            </div>
        </div>

        <div class="form-group row">
        <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#">ADD A COUPON</a>
            </span>
            <span class="menu-subtitle">Optional</span>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Percent off</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="15">
            </div>
        </div>

         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start Time</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="15">
            </div>
        </div>

         <div class="form-group row">
            <label class="col-sm-2 col-form-label">End Time</label>
            <div class="col-sm-6">
             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="15">
            </div>
        </div>


         <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn bg-orange">Add</button>
        </div>
        </div>
        </form>
       
      </div>

     
    </div>
  </section>
  <!-- /contact -->
  <% include ../partials/footer.ejs %>