 <% include ../partials/header.ejs %>

<!-- Restaurant -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Restaurant's List</h1>
          <p class="header-p">Check out famous restaurants!!</p>
        </div>

         <div class="col-md-12 text-center">
          <form action="" method="post" role="form" class="contactForm">
           <div class="col-md-8 contact-form">
              <div class="form-group">
                <input type="text" class="form-control label-floating is-empty" name="people" id="people" placeholder="Restaurant Name or Cuisine type" data-rule="required" data-msg="This field is required" />
                <div class="validation"></div>
              </div>
            </div>

             <div class="col-md-4 btnpad">
              <div class="contacts-btn-pad">
                <button class="contacts-btn">Search</button>
              </div>
            </div>
          </form>
          </div>

        <div id="menu-wrapper">

         <% for(var n=0; n<4; n++) {%>
          <div class="breakfast restaurant-name">
            <span class="clearfix">
              <a class="restaurant-title" href="/restaurant">Restaurant Name</a>
              <span class="restaurant-price">Indian</span>
             </span>
               <span class="restaurant-subtitle">11:00 am to 12:00 pm</span><br/>
               <span class="restaurant-subtitle">11 willsten dr</span><br/>
          </div>

              <% } %>



      </div>
    </div>
  </section>
  <!--/ menu -->
 <% include ../partials/footer.ejs %>